@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    top: 0;
    position: sticky;
    background-color: white;
}

#navbar{
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    color: #212121;
}

#iiccoonn{
    display: flex;
}

#nav-menu{
    background-color: #fff;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    /* border-right: 1px solid #212121; */
}




#nav-menu.active{
    left: 0px;
    transition: 350ms;
}
/* #tags{
    position: absolute;
    left: 0;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    
}
#tags>div{
    display: inline-block;
    text-align: center;
    /* text-size-adjust: auto; */
/* } */
/* #tags.active{
    left: 252px;
    transition: 360ms;
}
#mainContent.active{
    left: 252px;
    transition: 360ms;
}
#tags button{
    border-radius:12px;
    padding: 8px;
}

#tags button:hover{
    background-color: grey;
    cursor: pointer;
}

#all{
    background-color: black;
    color: #fff;
} */ 



.nav-text{
    display: flex;
    justify-content: start;
    list-style: none;
    height: 50px;
    padding: 1rem;
}

.nav-text a{
    text-decoration: none;
    color: #212121;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.nav-text:hover{
    background-color: rgba(144,144,144,0.219);
    cursor: pointer;
}

.nav-menu-items{
    width: 100%;

}
.nav-icon{
    padding-right: 1rem;
    color: #212121;
}

#youtube-logo{
    color: #F90201;
    padding-right: 0.2rem;
}

#navbar-toggle{
    background-color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#navbar-toggle h1{
    color: #212121;
    font-family: 'Oswald', sans-serif;
}

#navbar-toggle a{
    text-decoration: none;
}

.fa-bars{
    color: #212121;
    margin-top: 10px;
}

.nav-section{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #mainContent{
    position: relative;
    left: 65px;
    top: 50px;
    /* border: 1px solid red; */
    /* width: 90%;
    display: grid;
  */   /* flex-wrap: wrap; */
    /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px; */
/* } */
/* .viddata{ */
    /* flex-direction: column;
    margin-top: 10px;
    cursor: pointer; */
   /* height: 180px; */
   /* border: 1px solid red; */
/* } */
/* .thumb{ */
    /* width: 100%; */
    /* border: 1px solid red; */
/* } */
/* .thumb img{ */
    /* width: 275px;
    height: 360px;
    height: fit-content; */
/* } */
/* .channelogo{
    width: 20%;
    /* height: 100px; */
    /* border: 1px solid red; */
/* }*/ 
/* .viddetail{
    width: 80%;
    /* height: 100px; */
    /* border: 1px solid red; */
/* } */
/* .viddetailbox{
    display: flex;
/* } */

/* h4{ */
    /* margin-top: 5px;
    line-height: 15px;
    max-height: 30px;
    width: 200px;
    word-wrap: break-word;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 14px;
    text-overflow: ellipsis;
    
}
p{
    margin-bottom: 10px;
    font-size: 12px;
} */

#container{
    position: sticky;
}

/* video */

.video-container{
    /* width: calc(100%); */
    margin-top: 35px;
    background-color: #F9F9F9;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px 5px;
    justify-content: space-around;
    overflow-x: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.video-container.active{
margin-left: 250px;
}

.video{
    width: 350px;
    min-height: 250px;
    height: auto;
}


.content{
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.title{
width: 100%;
height: 39px;
overflow: hidden;
font-size: 16px;
font-weight: 500;
}

.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #979797;
}

hr{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}


/* filters */

.filters{
    /* position: fixed;  */
    top: 62px;
    width: calc(100%-250px);
    height: 60px;
    background:#fff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
.filters.hide{
    left: 250px;
}
.filters::-webkit-scrollbar{
    display: none;
}
.filter-options.active{
    color: #fff;
    background: #242424;
}


.filter-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background:#f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 10px;
    color: #242424;
    font-size: 15px;
    cursor: pointer;
}

.thumbnail{
    cursor: pointer;
    
    height: 166.08px;
    width: 100%;
    
    object-fit: cover;
}


.photo :hover{
    transition: transform 0.8s;
    transform: scale(1.15);
    /* outline:1px solid peachpuff; */
}
.youtubeicon{
    cursor: pointer;
}
.dropdowncon1{
    display: none;
    position: absolute;
    min-width: 250px;
    border: 1px solid gray;
    margin-left: -220px;
    z-index: 1;
    margin-top: -50px;
    background-color: white;
    left: -635%;
    font-size: 16px;   
  }
  .dropdowncon1 a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #usericondiv:hover .dropdowncon1{
    display: block;
  }