* {
  font-family: sans-serif;
}

#upper {
  text-align: center;
  line-height: 10px;
  font-weight: 10px;
}
#upper:first-child {
  font-weight: 1;
}
form {
  display: grid;
  justify-content: center;
  border: 1px solid rgb(211, 197, 197);
  width: 500px;
  margin: 100px auto;
  line-height: normal;
  padding-bottom: 100px;
  padding-top: 40px;
  border-radius: 7px;
}

input[type="email"],
select,
textarea {
  padding: 20px;
  border: 1px solid rgb(224, 222, 222);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  width: 390px;
}
span {
  display: block;
  color: #1a73e8;
  margin-bottom: 30px;
}
#error {
  color: red;
  margin-left: 7px;
  font-size: 12px;
  margin-top: 10px;
}
#error + p {
  color: #1a73e8;
  font-size: 15px;
  margin-bottom: 50px;
}
#button {
  display: flex;
  justify-content: space-between;
}
#creat {
  background-color: #fff;
  border: none;
  color: #1c60f3;
}
#creat:hover {
  color: rgb(7, 7, 193);
}
#signin {
  padding: 10px 15px;
  background-color: #1a73e8;
  border: none;
  color: white;
  border-radius: 5px;
}
